@model IEnumerable<ProductDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!--Products Page-->

<!--navbar-->
<partial name="~/Views/Shared/PartialViews/AdminPartialViews/_AdminContentHeaderPartialView.cshtml" />
<div class="container-fluid">
    <div class="row ">
       <table class="table table-bordered">
           <thead>

           </thead>
       </table>
    </div>
</div>