@model ProductDto
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<form method="post" action="/Products/Update">

    <div class="row">
        <div class="col-6">
            <strong> Product Name</strong>
            <input type="text" asp-for="Name" name="Name" class="form-control" />
        </div>
        <div class="col-6">
            <strong> Product Price </strong>
            <input type="text" asp-for="Price" name="Price" class="form-control" />
        </div>
    </div>
    <br />
    <strong>Unit Stock</strong>
    <input type="text" name="UnitStock" asp-for="UnitStock" class="form-control" />
    <br />
    <strong>Description</strong>
    <input type="text" name="Description" asp-for="Description" class="form-control" />
    <br />
    <strong>Image File</strong>
    <input type="text" name="ImageFile" asp-for="ImageFile" class="form-control" />
    <br />
    <strong>Category Name</strong>
    <select class="custom-select" id="selectedCategoryId" name="selectedCategoryId" asp-items="ViewBag.Categories">
    </select>
    <br />
    <br />
    <strong>Brand Name</strong>
    <select class="custom-select" id="selectedCategoryId" name="selectedBrandId" asp-items="ViewBag.Brands">
    </select>
    <br />  <br />
    <input type="hidden" name="ProductId" asp-for="ProductId" />
    <button type="submit" class="btn btn-primary mb-2" style="float:right">Update Product</button>


</form>

