<footer class="py-5" style="background-color: #7952b3">
    <div class="container-fluid ">
        <div class="row ">
            <div class="col-12">
                <p class="text-center text-light">Copyright © INLayerProjectLearn 2021</p>
            </div>
        </div>
    </div>
</footer>