
    <div class="border border-dark mb-5 mt-5"></div>
    <div id="footer" style="height:200px;">
        <div class="container">
            <div class="row ">
                <div class="col-3">

                    <ul class="list-unstyled ">
                        <li class=" mb-3">
                            <a href="#" class="footer-link "><strong>Brands</strong></a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="footer-link">Adidas</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="footer-link">Puma</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="footer-link">Dell</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="footer-link">Adidas</a>
                        </li>
                    </ul>
                </div>
                <div class="col-2">

                    <ul class="list-unstyled ">
                        <li class=" mb-3">
                            <a href="#" class="footer-link "><strong>Company</strong></a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="footer-link">Adidas</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="footer-link">Puma</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="footer-link">Dell</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="footer-link">Adidas</a>
                        </li>
                    </ul>
                </div>
                <div class="col-2">

                    <ul class="list-unstyled ">
                        <li class=" mb-3">
                            <a href="#" class="footer-link "><strong>Help</strong></a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="footer-link">Adidas</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="footer-link">Puma</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="footer-link">Dell</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="footer-link">Adidas</a>
                        </li>
                    </ul>
                </div>
                <div class="col-2">

                    <ul class="list-unstyled ">
                        <li class=" mb-3">
                            <a href="#" class="footer-link "><strong>Account</strong></a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="footer-link">Adidas</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="footer-link">Puma</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="footer-link">Dell</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="footer-link">Adidas</a>
                        </li>
                    </ul>
                </div>
                <div class="col-2">
                    <ul class="list-unstyled">
                        <li class=" mb-3">
                            <a href="#" class="footer-link"><strong>Social</strong></a>
                        </li>
                        <li class=" mb-1">
                            <i class="fab fa-facebook"></i>
                            <a href="#" class="footer-link">Facebook</a>
                        </li>
                        <li class=" mb-1">
                            <i class="fab fa-twitter"></i>
                            <a href="#" class="footer-link">Twitter</a>
                        </li>
                        <li class=" mb-1">
                            <i class="fab fa-instagram"></i>
                            <a href="#" class="footer-link">Instagram</a>
                        </li>
                        <li class=" mb-1">
                            <i class="fab fa-youtube"></i>
                            <a href="#" class="footer-link">Youtube</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p class="footer-text mt-4">© Created by Hakan Yusufoğlu Cloned from Bootstrap-Ecommerce Web Site</p>
                </div>
                <div class="col-6">
                    <p class="footer-text mt-4 float-right">Look at the sky :)</p>
                </div>
            </div>
        </div>
    </div>
