
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



    <!--navbar-->
    <partial name="~/Views/Shared/PartialViews/AdminPartialViews/_AdminContentHeaderPartialView.cshtml" />
 <div class="row">
        <!--dashboard content-->
        <div class="col-4">
            <div class="card bg-success ">
                <div class="card-body border-0 text-white">
                    <div class="row">
                        <div class="col-6">
                            <h3> <strong>150</strong> </h3>
                            <h6 class="card-title border-0 text-white">New Order</h6>
                        </div>
                        <div class="col-6">
                            <div class="icon">
                                <ion-icon name="bag-handle-outline"></ion-icon>

                            </div>
                        </div>
                    </div>

                </div>
                <a class="btn bg-green card-btn-text-white" href="#">

                    More Info

                </a>
            </div>
        </div>

        <div class="col-4">
            <div class="card bg-aqua ">
                <div class="card-body border-0 text-white">
                    <div class="row">
                        <div class="col-6">
                            <h3> <strong> 75 </strong> </h3>
                            <h6 class="card-title border-0 text-white">New Employee</h6>
                        </div>
                        <div class="col-6">
                            <div class="icon">
                                <ion-icon name="person-add-outline"></ion-icon>
                            </div>
                        </div>
                    </div>

                </div>
                <a class="btn bg-aqua-moreinfo card-btn-text-white" href="#">
                    More Info
                </a>
            </div>
        </div>
        <div class="col-4">
            <div class="card bg-danger ">
                <div class="card-body border-0 text-white">
                    <div class="row">
                        <div class="col-6">
                            <h3> <strong> 1997 </strong> </h3>
                            <h6 class="card-title border-0 text-white">Total Product</h6>
                        </div>
                        <div class="col-6">
                            <div class="icon">
                                <ion-icon name="person-outline"></ion-icon>
                            </div>
                        </div>
                    </div>

                </div>
                <a class="btn bg-danger-moreinfo card-btn-text-white" href="#">
                    More Info
                </a>
            </div>
        </div>




    </div>
