<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/ecommerce.css">
    <link href="~/Content/fontawesome/css/all.min.css" rel="stylesheet">



    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap"
          rel="stylesheet">

    <title>E Shope</title>
</head>

<body>
    <!--navbar-->
    <partial name="~/Views/Shared/PartialViews/_NavbarPartialView_New.cshtml" />

    @RenderBody()
    <!--footer-->
    <partial name="~/Views/Shared/PartialViews/_FooterPartialView_New.cshtml" />
    <script src="~/Content/js/jquery-3.5.1.slim.min.js"></script>
    <script src="~/Content/js/bootstrap.bundle.min.js"></script>

</body>

</html>